.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 50%;

}

.key-row{
  display: flex;
}

.calc-key {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  flex-basis: 25%;
  align-items: center;
  background-color: #454545;
  color: white;
  border: none;
}

button:hover {
  background: #8CD5ED;
}

button:active {
  border: none;
}

.display {
  font-size: 45px;
  display: flex;
  justify-content: flex-end;
}
